@tailwind base;
@tailwind components;
@tailwind utilities;

th {
    text-transform: uppercase;
}

@font-face {
    font-family: 'SF';
    font-style: normal;
    src: url('../../public/fonts/SF-Pro-Text-Regular.otf') format('opentype');
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}